:root {
  --color-white: #FFFFFF;
  --color-primary: #01DEB2;
  --color-primary-dark: #009C7D;
  --color-background: #0A0A0A;
  --color-background2: #121212;
  --color-subtitle: #9E9E9E;
  --color-border: #3B3B3B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-barlow), 'Barlow', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: inherit;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}