* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-barlow), 'Barlow', sans-serif;
}

body {
  background-color: #0A0A0A;
  font-family: inherit;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
